Repository falcosecurity/charts, pull requests merged in 2020-08, with the labels that each got.

#70 Fix falcosidekick chart linting
  falcosidekick/Chart.yaml
Labels: approved, dco-signoff: yes, kind/bug, lgtm, lgtm, size/XS

#73 updating image version in README to match values.yaml
  falco/README.md
Labels: approved, area/falco-chart, dco-signoff: yes, kind/documentation, lgtm, lgtm, size/XS

#75 docs(.github): add `area/falcosidekick`
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, lgtm, size/XS

#78 [falcosidekick] From Azure identity >=1.6.0 CRD on fields are case sensitive
  falcosidekick/Chart.yaml
  falcosidekick/templates/aadpodidentity.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/bug, lgtm, lgtm, size/S
