Repository falcosecurity/charts, pull requests merged in 2020-12, with the labels that each got.

#154 Add ci helm testing
  .circleci/config.yml
  .circleci/install_tools.sh
  .circleci/lint.sh
  .circleci/release.sh
  tests/ct.yaml
  tests/e2e-kind.sh
  tests/kind-config.yaml
Labels: approved, dco-signoff: yes, lgtm, lgtm, size/L

#148 Add missing configuration checkcert
  falcosidekick/templates/deployment.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/bug, lgtm, lgtm, size/XS

#157 fix helm test for falcosidekick
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/tests/test-connection.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/bug, lgtm, lgtm, size/S

#158 ci: use ct to lint and remove lint.sh
  .circleci/config.yml
  .circleci/lint.sh
  tests/ct.yaml
Labels: approved, dco-signoff: yes, lgtm, lgtm, size/S

#161 falcosidekick: fix aws keys not being added to the deployment
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/deployment.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/bug, lgtm, size/M

#162 falco/ci: Set values to deploy falco on ci
  falco/Chart.yaml
  falco/ci/ci-values.yaml
Labels: approved, dco-signoff: yes, lgtm, lgtm, size/XS

#164 docs(.github): correct area label for falcosidekick-chart
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, lgtm, size/XS

#163 falcosidekick: refactor the secrets to add all values
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment.yaml
  falcosidekick/templates/secrets.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/cleanup, kind/feature, lgtm, lgtm, size/XL
