Repository falcosecurity/charts, pull requests merged in 2020-10, with the labels that each got.

#108 Fixed copy & paste error
  falco-exporter/README.md
Labels: approved, dco-signoff: yes, lgtm, lgtm, size/XS

#113 Fix pipe in table
  falcosidekick/README.md
Labels: approved, dco-signoff: yes, kind/bug, kind/documentation, lgtm, lgtm, size/M

#111 Add PodSecurityPolicy for falcosidekick
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/podsecuritypolicy.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/M

#112 Add SCC to support Openshift
  falco-exporter/CHANGELOG.md
  falco-exporter/Chart.yaml
  falco-exporter/README.md
  falco-exporter/templates/securitycontextconstraints.yaml
  falco-exporter/values.yaml
Labels: approved, area/falco-exporter-chart, dco-signoff: yes, kind/chart-release, lgtm, size/M

#117 Added secret volume type to PSP
  falco-exporter/CHANGELOG.md
  falco-exporter/Chart.yaml
  falco-exporter/templates/podsecuritypolicy.yaml
Labels: approved, area/falco-exporter-chart, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/XS

#118 fix(build): wait for releases to be ready
  .circleci/release.sh
Labels: approved, dco-signoff: yes, kind/bug, lgtm, lgtm, size/XS

#125 Replace extensions apiGroup/apiVersion because of deprecation
  falco-exporter/CHANGELOG.md
  falco-exporter/Chart.yaml
  falco-exporter/templates/role.yaml
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/clusterrole.yaml
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/clusterrole.yaml
  falcosidekick/templates/ingress.yaml
Labels: approved, area/falco-chart, area/falco-exporter-chart, area/falcosidekick, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/M

#129 Add PSP support to fake event generator
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/clusterrole.yaml
  falco/templates/deployment.yaml
  falco/templates/podsecuritypolicy.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/M

#133 prepare chart for falcosidekick 2.15.0
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/chart-release, lgtm, lgtm, size/M
