Repository falcosecurity/charts, pull requests merged in 2020-09, with the labels that each got.

#84 docs(falco-exporter): use falco-exporter in the example
  falco-exporter/README.md
Labels: approved, area/falco-exporter-chart, dco-signoff: yes, kind/documentation, lgtm, lgtm, size/XS

#90 release(falcosidekick): 0.1.23
  falcosidekick/Chart.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/chart-release, lgtm, lgtm, size/XS

#94 add Changelog for falcosidekick helm chart
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, kind/chart-release, kind/documentation, lgtm, lgtm, size/L

#93 add Issif as owner/reviewer
  OWNERS
Labels: approved, area/falcosidekick, dco-signoff: yes, lgtm, lgtm, size/XS

#99 Update falcosidekick default image to most recent release
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick, dco-signoff: yes, lgtm, lgtm, size/XS

#101 Fix broken link to k8s_audit_config
  falco/README.md
Labels: approved, area/falco-chart, dco-signoff: yes, kind/documentation, lgtm, lgtm, size/XS
