Repository falcosecurity/charts, pull requests merged in 2021-06, with the labels that each got.

#232 falco: add liveness and readiness probes
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/templates/configmap.yaml
  falco/templates/daemonset.yaml
  falco/values.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/feature, lgtm, size/M

#237 falco: fix port for livenessProbe and readinessProbe
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/daemonset.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, lgtm, size/S

#242 fix(falco): update image tag to 0.29.0
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/values.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, size/XS

#239 updates for falcosidekick 0.23.1
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/templates/deployment.yaml
  falcosidekick/templates/secrets.yaml
  falcosidekick/values.yaml
Labels: approved, dco-signoff: yes, lgtm, size/XL

#243 prepare falco chart for 1.15.0
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/chart-release, lgtm, size/XS

#245 Fix readiness and liveness probes scheme when ssl is enabled
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/daemonset.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, lgtm, size/S
