Repository falcosecurity/charts, pull requests merged in 2021-01, with the labels that each got.

#170 feat(falco): allow adding additional volumes and volumeMounts to falco daemonset
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/templates/daemonset.yaml
  falco/values.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/chart-release, kind/feature, lgtm, lgtm, size/M

#172 add kubeless output
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/secrets.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/feature, lgtm, lgtm, size/L

#174 fix(falco): correct image tag for Falco 0.27
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/values.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/S

#175 owners: add cpanato as reviewer
  OWNERS
Labels: approved, dco-signoff: yes, lgtm, lgtm, size/XS

#176 release(falco-exporter): v0.5.0
  falco-exporter/CHANGELOG.md
  falco-exporter/Chart.yaml
  falco-exporter/values.yaml
Labels: approved, area/falco-exporter-chart, dco-signoff: yes, kind/chart-release, kind/feature, lgtm, lgtm, size/S

#177 ci: fix helm extra args parameter
  tests/ct.yaml
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, lgtm, size/XS
