Repository falcosecurity/charts, pull requests merged in 2021-07, with the labels that each got.

#246 [Falco] Use existing secret for certs
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/templates/daemonset.yaml
  falco/templates/secret-certs.yaml
  falco/values.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/feature, lgtm, size/S

#254 Make image registries configurable
  falco-exporter/CHANGELOG.md
  falco-exporter/Chart.yaml
  falco-exporter/README.md
  falco-exporter/templates/daemonset.yaml
  falco-exporter/values.yaml
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/templates/deployment.yaml
  falcosidekick/values.yaml
Labels: approved, area/falco-exporter-chart, area/falcosidekick-chart, dco-signoff: yes, kind/chart-release, kind/feature, lgtm, size/M

#231 Align falco.rulesFile in README with values.yaml
  falco/Chart.yaml
  falco/README.md
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, lgtm, size/XS

#260 Added support for extra volumes for falcosidekick
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/chart-release, kind/feature, lgtm, size/M

#265 bumped version of falcosidekick
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: approved, area/falco-chart, area/falcosidekick-chart, dco-signoff: yes, kind/chart-release, lgtm, size/XS
