Repository falcosecurity/charts, pull requests merged in 2021-08, with the labels that each got.

#266 docs(README.md): add `contributing` section
  README.md
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm

#270 falcosidekick version bumped to 2.24.0
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/values.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#272 fix: remove the value for bucket for output Yandex S3, this output is…
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/values.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart
