Repository falcosecurity/charts, pull requests merged in 2021-02, with the labels that each got.

#181 [Falcosidekick] Additional annotations + fix aad-pod-identity namespace
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/aadpodidentity.yaml
  falcosidekick/templates/deployment.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/S

#186 fix image repo for ui
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/bug, lgtm, lgtm, size/S

#187 use last version of falcosidekick chart
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/chart-release, lgtm, lgtm, size/XS

#184 eBPF probe path
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/templates/daemonset.yaml
  falco/values.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, kind/chart-release, kind/feature, lgtm, lgtm, size/S

#185 Only show non-zero rates in Grafana
  falco-exporter/CHANGELOG.md
  falco-exporter/Chart.yaml
  falco-exporter/templates/grafana-dashboard.yaml
Labels: approved, area/falco-exporter-chart, dco-signoff: yes, kind/bug, kind/chart-release, lgtm, lgtm, size/S

#194 support hostport filed for kafka
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/secrets.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/bug, lgtm, lgtm, size/S

#193 Updating the location of the falco icon
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: approved, area/falco-chart, dco-signoff: yes, kind/bug, lgtm, lgtm, size/XS

#197 chore: trigger CI again
  .circleci/config.yml
Labels: approved, dco-signoff: yes, kind/bug, lgtm, lgtm, size/XS

#198 [falcosidekick-ui] Update image version to v0.2.0
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/values.yaml
Labels: approved, area/falcosidekick-chart, dco-signoff: yes, kind/chart-release, lgtm, lgtm, size/S
