Repository falcosecurity/charts, pull requests merged in 2022-07, with the labels that each got.

#365 update(docs): add event-generator to the charts list
  README.md
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm

#368 update(OWNERS): move inactive approvers to emeritus_approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm, kind/cleanup

#367 feat(falco): Add ability to specify extra env to driver loader initContainer
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
  falco/templates/pod-template.tpl
  falco/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#370 fix(falco): fix templating for init containers in pod-template.tpl
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/pod-template.tpl
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart

#372 Adding sleep flag to pod-template
  event-generator/CHANGELOG.md
  event-generator/Chart.yaml
  event-generator/templates/pod-template.tpl
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release

#374 Added `mounts.enforceProcMount` flag
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/pod-template.tpl
  falco/values.yaml
Labels: kind/bug, kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#383 fix: falco helm chart priorityClassName on pod template
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/pod-template.tpl
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart
