Repository falcosecurity/charts, pull requests merged in 2022-05, with the labels that each got.

#333 Fix Falcosidekick char url on NOTES.txt
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/NOTES.txt
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart, area/falcosidekick-chart

#337 build(tests): bump kind version
  tests/e2e-kind.sh
  tests/kind-config.yaml
Labels: kind/bug, kind/failing-test, dco-signoff: yes, size/S, approved, lgtm

#331 prepare chart for v2.25.0 of Falcosidekick and v2.0.0 of Falcosidekick-UI
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/templates/deployment.yaml
  falcosidekick/templates/rbac-ui.yaml
  falcosidekick/templates/rbac.yaml
  falcosidekick/templates/secrets.yaml
  falcosidekick/templates/service-ui.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, kind/chart-release, size/XXL, area/falcosidekick-chart

#338 update dependency Falcosidekick for Falco chart
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm, area/falco-chart
