Repository falcosecurity/charts, pull requests merged in 2022-08, with the labels that each got.

#385 Support storageEnabled for redis to allow ephemeral installs
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#388 fix(falco): correctly point to the root context inside a local scope
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
  falco/templates/certs-secret.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#389 fix(falco): fix name of the falco certs secret
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
  falco/templates/certs-secret.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart

#392 [Falco] update ci-values
  falco/Chart.yaml
  falco/ci/ci-values.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm, area/falco-chart, kind/cleanup

#394 update: bump Falco to `0.32.2`
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#395 Fix debugfs mount when `falco-no-driver` image and ebpf driver is used
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/pod-template.tpl
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#396 feat(falco): allow passing args to the falco-driver-loader init conta…
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/pod-template.tpl
  falco/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#398 feat(falco): allow setting resources and securityContext on the falco…
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
  falco/templates/pod-template.tpl
  falco/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart
