Repository falcosecurity/charts, pull requests merged in 2022-06, with the labels that each got.

#341 Update Falcosidekick-UI image
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/values.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm

#342 Update Falcosidekick chart dependency to 0.5.2
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#344 docs(falco): remove leftover in the changelog
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm, area/falco-chart

#347 enable configuration of securityContext in falco chart
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/templates/daemonset.yaml
  falco/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, kind/chart-release, area/falco-chart

#352 update falcosidekick chart to use 2.26.0
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/secrets.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XXL, area/falcosidekick-chart

#353 Update Falcosidekick chart dependency to 0.5.4
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#357 feat(external-webui-redis): Add the possibility to use an external Redis Database
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/templates/service-ui.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, kind/chart-release, area/falcosidekick-chart
