Repository falcosecurity/charts, pull requests merged in 2023-01, with the labels that each got.

#434 upgrade Falcosidekick chart to 0.5.10
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/templates/deployment.yaml
  falcosidekick/templates/secrets.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XL, area/falcosidekick-chart

#436 update(docs): fix typo on grpc notes
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  tests/falco-test-ci.yaml
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#440 Bump falcosidekick dependency to 0.5.10
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, area/falco-chart

#442 Fix missing space in Falcosidekick-UI arguments
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/deployment-ui.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#443 Bump falcosidekick dependency to 0.5.11
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, area/falco-chart

#446 Fix missing space in Falcosidekick-UI ttl argument
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/deployment-ui.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart

#449 fix: Only print DaemonSet info if set to DaemonSet
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/NOTES.txt
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#455 fix(falcosidekick): quote integer redis ttl value
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/deployment-ui.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falcosidekick-chart

#452 fix prometheus extralabels configuration in falcosidekick
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/secrets.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart

#458 Bump falcosidekick dependency to 0.5.14
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart, area/falcosidekick-chart, kind/cleanup
