Repository falcosecurity/charts, pull requests merged in 2023-02, with the labels that each got.

#462 Set extra labels and annotations for AlertManager only if they're not…
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/templates/secrets.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#464 new(falcosidekick): add nodeSelector, tolerations and affinity values for test connection pod
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/tests/test-connection.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/falcosidekick-chart

#465 update(falco) bump falcosidekick dependency to 0.5.16
  falco/CHANGELOG.md
  falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart

#469 update(falco): bump appVersion to Falco 0.34.1
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart
