Repository falcosecurity/charts, pull requests merged in 2023-10, with the labels that each got.

#547 update(falco): bump chart and Falco version
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/generated/helm-values.md
  falco/values.yaml
Labels: dco-signoff: yes, approved, lgtm, size/M, kind/chart-release, area/falco-chart

#556 should run for any PR
  .github/workflows/test.yml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, kind/cleanup

#557 bump falco-exporter to test ci
  charts/falco-exporter/CHANGELOG.md
  charts/falco-exporter/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#558 bump event-generator
  charts/event-generator/CHANGELOG.md
  charts/event-generator/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#559 bump falco
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#560 bump falcosidekick
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#542 add aws.config.useirsa to fix the behavior with AWS IRSA
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.gotmpl
  charts/falcosidekick/README.md
  charts/falcosidekick/templates/prometheusrule.yaml
  charts/falcosidekick/templates/rbac.yaml
  charts/falcosidekick/templates/secrets.yaml
  charts/falcosidekick/templates/service.yaml
  charts/falcosidekick/templates/servicemonitor.yaml
  charts/falcosidekick/values.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XL, area/falcosidekick-chart

#561 Upgrade falcosidekick chart to v0.7.6
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, area/falco-chart

#566 Upgrade falcosidekick chart to v0.7.7
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart

#568 fix the condition for the missing cert files
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/deployment.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart

#570 update(falco): bump chart and Falco version
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart

#572 update documentation
  README.md
  release.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/M
