Repository falcosecurity/charts, pull requests merged in 2023-03, with the labels that each got.

#472 update(docs): correct k8saudit config values in README.md file
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/README.md
  falco/generated/helm-values.md
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#467 Change the docker image for the redis pod for falcosidekick-ui
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#473 allow to set allowcors in Falcosidekick-UI
  falcosidekick/CHANGELOG.md
  falcosidekick/Chart.yaml
  falcosidekick/README.md
  falcosidekick/templates/deployment-ui.yaml
  falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#475 fix: adds app selector to pod template
  falco/CHANGELOG.md
  falco/Chart.yaml
  falco/templates/grpc-service.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm
