Repository falcosecurity/charts, pull requests merged in 2024-07, with the labels that each got.

#694 Update securitycontextconstraints.yaml
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/templates/securitycontextconstraints.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#700 feat(falco): add support for Falco metrics
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/templates/_helpers.tpl
  charts/falco/templates/configmap.yaml
  charts/falco/templates/service.yaml
  charts/falco/templates/serviceMonitor.yaml
  charts/falco/tests/unit/metricsConfig_test.go
  charts/falco/tests/unit/serviceMonitorTemplate_test.go
  charts/falco/values.yaml
Labels: dco-signoff: yes, approved, lgtm, size/XXL

#703 feat(falcosidekick): allow to set resources, securityContext and image overwrite for wait-redis initContainer
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/templates/deployment-ui.yaml
  charts/falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, kind/chart-release, area/falcosidekick-chart

#710 Fix redis-availability check in UI
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/deployment-ui.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart, area/falcosidekick-chart

#711 Bump falco-sidekick dependency version to include redis UI check
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
Labels: dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart

#701 chore(k8s-metacollector): Add podLabels
  charts/k8s-metacollector/CHANGELOG.md
  charts/k8s-metacollector/Chart.yaml
  charts/k8s-metacollector/README.md
  charts/k8s-metacollector/templates/deployment.yaml
  charts/k8s-metacollector/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/k8s-metacollector

#707 Make 'for' configurable for falco exporter prometheus rules
  charts/falco-exporter/CHANGELOG.md
  charts/falco-exporter/Chart.yaml
  charts/falco-exporter/README.md
  charts/falco-exporter/templates/prometheusrule.yaml
  charts/falco-exporter/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falco-exporter-chart

#714 Add a condition to create the secrets for the redis only if the webui is deployed
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/secrets-ui.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart

#715 bump falcosidekick dependency to v0.8.* to match with future versions
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#716 fix: mount client-certs-volume only if certs.existingClientSecret is …
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/templates/pod-template.tpl
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falco-chart
