Repository falcosecurity/charts, pull requests merged in 2024-11, with the labels that each got.

#776 change the key for the rulesfiles range
  charts/falco-talon/CHANGELOG.md
  charts/falco-talon/Chart.yaml
  charts/falco-talon/templates/configmap.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm

#782 update(falco): bump falco version to 0.39.2 and falcoctl to 0.10.1
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.gotmpl
  charts/falco/README.md
  charts/falco/values.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm

#783 fix: update the url for the docs about the concurrent queue classes
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/values.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#784 upgrade to falcosidekick 2.30.0
  .lycheeignore
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/templates/secrets.yaml
  charts/falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/falcosidekick-chart
