Repository falcosecurity/charts, pull requests merged in 2024-01, with the labels that each got.

#606 update(k8s-metacollector): lower interval and scrape_timeout values for service monitor
  charts/k8s-metacollector/CHANGELOG.md
  charts/k8s-metacollector/Chart.yaml
  charts/k8s-metacollector/README.gotmpl
  charts/k8s-metacollector/README.md
  charts/k8s-metacollector/tests/unit/serviceMonitorTemplate_test.go
  charts/k8s-metacollector/values.yaml
Labels: dco-signoff: yes, approved, lgtm, size/M

#596 grafana-dashboard: add support grafana crd
  charts/falco-exporter/CHANGELOG.md
  charts/falco-exporter/Chart.yaml
  charts/falco-exporter/templates/grafana-dashboard.yaml
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm

#607 fix(k8s-metacollector): correctly indent the service monitor
  charts/k8s-metacollector/CHANGELOG.md
  charts/k8s-metacollector/Chart.yaml
  charts/k8s-metacollector/README.md
  charts/k8s-metacollector/templates/servicemonitor.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release

#609 update(k8s-metacollector): lower initial delay of readiness and liveness probes
  charts/k8s-metacollector/CHANGELOG.md
  charts/k8s-metacollector/Chart.yaml
  charts/k8s-metacollector/README.md
  charts/k8s-metacollector/tests/unit/deploymentTemplate_test.go
  charts/k8s-metacollector/values.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/k8s-metacollector
