Repository falcosecurity/charts, pull requests merged in 2024-04, with the labels that each got.

#647 fix the error with the NOTES when the ingress for falcosidekick-ui is enabled (at <index .paths 0>: error calling index: index of untyped nil Use)
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/NOTES.txt
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart

#646 vote: docs(OWNERS): add alacuku (Aldo Lacuku) to approvers
  OWNERS
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm

#649 fix the labels for the serviceMonitor of falcosidekick
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/servicemonitor.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart

#650 bump falcosidekick dependency version to v0.7.17 install latest version through falco chart
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
Labels: kind/feature, dco-signoff: yes, size/XS, approved, lgtm, area/falco-chart

#662 8f63167 CHART: add additionalProperties for falco-exporter service Monitor
  charts/falco-exporter/CHANGELOG.md
  charts/falco-exporter/Chart.yaml
  charts/falco-exporter/README.md
  charts/falco-exporter/templates/servicemonitor.yaml
  charts/falco-exporter/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-exporter-chart

#643 The sidekick chart Prometheus rules can't be installed as is, leading to an error and preventing the resource to be created.
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/prometheusrule.yaml
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falcosidekick-chart

#657 feat: updated grafana dashboard
  charts/falco-exporter/CHANGELOG.md
  charts/falco-exporter/Chart.yaml
  charts/falco-exporter/README.md
  charts/falco-exporter/templates/grafana-dashboard.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, kind/chart-release, area/falco-exporter-chart, size/XXL
