Repository falcosecurity/charts, pull requests merged in 2024-08, with the labels that each got.

#720 fix(falco/config): use rules_files instead of deprecated key rules_file
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/values.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#721 fix(falco): use rules_files key in the preset values files
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/values-k8saudit.yaml
  charts/falco/values-syscall-k8saudit.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm

#726 update(falco): update chart to 4.8.0 for Falco 0.38.2
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#731 chore(falcosidekick): bump Falco chart version to 4.8.1
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
Labels: dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falco-chart
