Repository falcosecurity/charts, pull requests merged in 2024-02, with the labels that each got.

#613 fix(falco): reintroduce service account
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/templates/pod-template.tpl
  charts/falco/templates/serviceaccount.yaml
  charts/falco/tests/unit/serviceAccount_test.go
  charts/falco/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, kind/chart-release

#615 update(falcosidekick): update README.md
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.gotmpl
  charts/falcosidekick/README.md
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm

#616 fix(falco): update README.md
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
Labels: dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#617 fix(event-generator): update README.md
  charts/event-generator/CHANGELOG.md
  charts/event-generator/Chart.yaml
  charts/event-generator/README.md
Labels: kind/bug, kind/documentation, dco-signoff: yes, size/S, approved, lgtm, area/event-generator-chart

#618 new(CI): enforce the helm docs
  .github/workflows/docs.yml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M

#620 NOTES.txt: Fix links
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/templates/NOTES.txt
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#624 update(ci): process all charts for changes in values.yaml
  .github/workflows/docs.yml
Labels: dco-signoff: yes, size/XS, approved, lgtm

#625 update(README.md): update contributing section
  README.md
Labels: dco-signoff: yes, size/XS, approved, lgtm

#629 fix(readme): link tags
  README.md
Labels: kind/documentation, dco-signoff: yes, size/XS, approved, lgtm, kind/cleanup

#630 fix(falco/README.md): dead link
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.gotmpl
  charts/falco/README.md
Labels: kind/documentation, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#631 new(CI): add link checker
  .github/workflows/links.yml
  .lycheeignore
Labels: dco-signoff: yes, approved, lgtm, size/M

#626 Falcosidekick servicemonitor port and selector fix
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/_helpers.tpl
  charts/falcosidekick/templates/servicemonitor.yaml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/XL, kind/chart-release, area/falcosidekick-chart

#634 [falcosidekick] fix: remove duplicate component label
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/templates/_helpers.tpl
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, kind/chart-release, area/falcosidekick-chart
