Repository falcosecurity/charts, pull requests merged in 2024-06, with the labels that each got.

#682 update(k8s-metacollector): bump application version to 0.1.1
  charts/k8s-metacollector/CHANGELOG.md
  charts/k8s-metacollector/Chart.yaml
  charts/k8s-metacollector/README.md
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/k8s-metacollector

#683 update(falco): bump k8s-metacollector dependency version to v0.1.1
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
Labels: dco-signoff: yes, size/XS, approved, lgtm

#690 chore(falcosidekick): upgrade redis-stack image to 7.2.0-v11
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/values.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falcosidekick-chart

#684 Feat: add extra labeling capabilities for falco daemonset/deployment
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/templates/daemonset.yaml
  charts/falco/templates/deployment.yaml
  charts/falco/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart

#691 update(falco): bump falco version to 0.38.1
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
Labels: dco-signoff: yes, size/S, approved, lgtm, area/falco-chart

#633 use directory-mapping instead of simple containerd.socket-file-mapping
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/templates/pod-template.tpl
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falco-chart
