Repository falcosecurity/charts, pull requests merged in 2025-02, with the labels that each got.

#829 upgrade falcosidekick to v2.31.0
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/templates/secrets.yaml
  charts/falcosidekick/values.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falcosidekick-chart

#830 upgrade falcosidekick to v2.31.1
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falcosidekick-chart

#834 upgrade falcosidekick to v2.31.1 (fix)
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/values.yaml
Labels: kind/bug, dco-signoff: yes, size/S, approved, lgtm, kind/chart-release, area/falcosidekick-chart

#837 chore(falco): bump falcoctl to 0.11.0
  charts/falco/CHANGELOG.md
  charts/falco/Chart.yaml
  charts/falco/README.md
  charts/falco/values.yaml
Labels: dco-signoff: yes, size/S, approved, lgtm

#839 feat(helm): add Azure Workload Identity support for Falcosidekick
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/templates/deployment.yaml
  charts/falcosidekick/templates/rbac.yaml
  charts/falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/M, area/falcosidekick-chart

#841 bump up talon version to 0.3.0 + fix missing usage of imagePullSecrets
  charts/falco-talon/CHANGELOG.md
  charts/falco-talon/Chart.yaml
  charts/falco-talon/templates/deployment.yaml
Labels: kind/bug, kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falco-talon-chart

#842 fix missing values in the readme
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
Labels: kind/bug, dco-signoff: yes, size/XS, approved, lgtm, area/falcosidekick-chart

#838 add customtags
  charts/falcosidekick/CHANGELOG.md
  charts/falcosidekick/Chart.yaml
  charts/falcosidekick/README.md
  charts/falcosidekick/templates/deployment.yaml
  charts/falcosidekick/values.yaml
Labels: kind/feature, dco-signoff: yes, size/S, approved, lgtm, area/falcosidekick-chart
